* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --background : white;
    --background-body : #f7f7f7;
    --text-color : black;
  }
  .botao{
    color: black;
    padding: 20px;
  }
  #output{
    font-size: 40px;
    word-wrap: break-word;
  }